<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/styles.css">
<style>
  h1, h3 {
    font-family: 'Roboto Slab', serif;
  }
  p {
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 5px;
  }
  h1, h3, p {
    text-align: left;
  }
  .container {
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    width: 93%;
  }
  body {
    background-color: #ccc;
  }
</style>

<div class='container'>
  <h1>Television and Movie Screens</h1>

  <h3>Aspect Ratios</h3>

  <p>Aspect ratios come in many forms depending on the type of screen. Both television and movie screens are traditionally a 4:3 ratio; that is, their width is slightly larger than the height. It's also known as 1.33. For silent films, this was the standard, until sound came around and they had to fit the strip containing the sound information on the side of the film. The sound replacement, standardized in 1932, was 1.37, and used until 1938.</p>

  <p>Newer television screens are 16:1. Movies, however, are wider, and that is why there are two black bars on the screen when a movie shows on TV.</p>

  <h3>Analog vs Digital</h3>

  <p>Analog simply describes the signal. Most new movies and TV are digital, forcing people with older TVs to get a video converter in order to see their channels. Not all TV shows or movies are digital, however. Some types of channels, such as public access television, can be analog, and some directors prefer film, such as Quentin Tarantino.</p>

  <h3>Television Systems</h3>

  <p>There are several television systems available, but the two that most Americans come across are NTSC and PAL. NTSC is the standard in the US, while PAL is used in most of Europe. It's simply the amount of lines on the screen, and only applies to analog signals. </p>
</div>