<!DOCTYPE html>
<html>
  <head>
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="application.js"></script>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>